@import '../../components/styles/colors.scss';

.Home{
  display: flex;
  flex-direction: column;
}


.headerMenu {
  display: flex;
}

.content {
  display: flex;
  align-items: center;
  z-index: -5;
  justify-content: center;
  height: 90vh;
  margin: 20px;
  margin-top: 70px;
  padding: 20px;
  border: 1px solid $border;
  background: white;
}
